[Desktop Entry]
Name=Godot Engine
GenericName=Libre game engine
Comment=Multi-platform 2D and 3D game engine with a feature rich editor
Exec=Godot %f
Terminal=false
Type=Application
Icon=meta/gui/icon.svg
StartupNotify=true
Categories=Development;IDE;Games;
